image: node
stages:
  - build
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
    - .next/cache/
build-staging:
  stage: build
  environment:
    name: staging
    url: https://shiplink.oyihost.com
  only:
    - stage
  tags:
    - staging
  script:
    - export NODE_OPTIONS=--max_old_space_size=4096
    - yarn install
    # - cp /var/www/web/.env .env
    - yarn build
    - rm -rf /var/www/web/.next
    - rsync -a . /var/www/web
    - cd /var/www/web
    - pm2 restart ecosystem.config.js

build-develop:
  stage: build
  environment:
    name: development
    url: https://dev.shiplink.oyihost.com
  only:
    - develop
  tags:
    - develop
  script:
    - export NODE_OPTIONS=--max_old_space_size=4096
    - yarn install
    # - cp /var/www/web/.env .env
    - yarn build
    - rm -rf /var/www/web/.next
    - rsync -a . /var/www/web
    - cd /var/www/web
    - pm2 restart ecosystem.config.js

deploy-prod:
  stage: build
  only:
    - stage
  when: manual
  tags:
    - production
  variables:
    ENVIRONMENT_NAME: prod
  environment:
    name: production
    url:  https://example.com
  script:
    - ./ci/ci_scripts/build.sh
    - ./ci/ci_scripts/deploy.sh