image: node
stages:
  - build
cache:
  paths:
    - node_modules/
build-staging:
  stage: build
  only:
    - develop
  tags:
    - staging
  script:
    - export NODE_OPTIONS=--max_old_space_size=4096
    - yarn install
    - cp /var/www/web/.env .env
    - yarn turbo-build
    - rm -rf /var/www/web/.next
    - rsync -a . /var/www/web
    - cd /var/www/web
    - pm2 restart ecosystem.config.js
