image: node
stages:
  - build
cache:
  paths:
    - node_modules/
build-staging:
  stage: build
  only:
    - develop
  tags:
    - staging
  script:
    - yarn install
    - cp .env.staging .env
    - yarn build
    - rm -rf /var/www/web/.next
    - rsync -a . /var/www/web
    - cd /var/www/web
    - pm2 restart ecosystem.config.js
