image: node
stages:
  - build
cache:
  paths:
    - node_modules/
build-staging:
  stage: build
  only:
    - master
  tags:
    - staging
  script:
#    - npm i --legacy-peer-deps --force
#    - npm run build
    - yarn install
    - yarn build
    - rsync -a --progress . /var/www/web
    - cd /var/www/web
    - pm2 restart ecosystem.config.js
