image: node
stages:
  - build
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
    - .next/cache/

deploy-dev:
  stage: build
  only:
    - develop
  tags:
    - dev
  variables:
    ENVIRONMENT_NAME: dev
  environment:
    name: development
    url: https://example.com
  script:
    - cp ~/.env.dev.frontend .env
    - ./ci/ci_scripts/build.sh
    - ./ci/ci_scripts/deploy.sh

deploy-stage:
  stage: build
  only:
    - stage
  tags:
    - stage
  variables:
    ENVIRONMENT_NAME: stage
  environment:
    name: staging
    url: https://example.com
  script:
    - cp ~/.env.dev.frontend .env
    - ./ci/ci_scripts/build.sh
    - ./ci/ci_scripts/deploy.sh

deploy-prod:
  stage: build
  only:
    - stage
  when: manual
  tags:
    - production
  variables:
    ENVIRONMENT_NAME: prod
  environment:
    name: production
    url: https://example.com
  script:
    - ./ci/ci_scripts/build.sh
    - ./ci/ci_scripts/deploy.sh
