# Force users to use Yarn instead of npm
# This prevents accidental npm usage which would create package-lock.json
use-yarn=true
engine-strict=true
# If someone tries to use npm, they'll get an error message
