@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-black;
  }

  html {
    @apply scroll-smooth font-inter-sans;
  }

  body {
    @apply overflow-x-clip;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #828c9c7a;
    border-radius: 10px;
  }
  h1 {
    @apply text-[26px] font-bold 3md:text-[30px];
  }

  h2 {
    @apply text-[20px] font-bold;
  }

  h3 {
    @apply text-sm font-semibold;
  }

  h4 {
    @apply text-xsm font-bold;
  }

  .title-main {
    @apply text-[12px] font-semibold uppercase;
  }
}

@layer components {
  .wrapper-with-span span {
    @apply text-primary;
  }

  .linear-gradient-gallery {
    background-color: linear-gradient(
      179.62deg,
      #f4f4f4 0.32%,
      rgba(255, 255, 255, 0) 229.29%,
      rgba(244, 244, 244, 0) 229.29%
    );
    transform: matrix(0, 1, -1, 0, 0, 0);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* CKEditor 5 Styles */

  .content-wrapper ul {
    @apply list-disc pl-5;
  }

  .content-wrapper h1 {
    @apply text-5xl font-bold;
  }

  .content-wrapper h2 {
    @apply text-lg font-bold;
  }

  .content-wrapper h3 {
    @apply mb-1.5 text-black;
  }

  .content-wrapper h4 {
    @apply mb-3 font-semibold text-black;
  }

  .content-wrapper p {
    @apply text-xsm text-black;
  }

  .content-wrapper ul li,
  .content-wrapper ol li {
    @apply text-xsm text-black;
  }

  .content-wrapper img {
    @apply h-full rounded-base;
  }

  .content-wrapper iframe {
    @apply w-full rounded-base;
  }

  .content-wrapper ol {
    @apply list-decimal pl-5;
  }
  .content-wrapper hr {
    @apply border-gray-darker;
  }

  .content-wrapper table {
    @apply border border-solid border-gray-darker;
  }

  .content-wrapper table td {
    @apply border border-solid border-gray-darker p-1;
  }

  .content-wrapper ul li::marker {
    color: #072d46;
  }

  .content-wrapper.list-white ul li::marker {
    color: #fff;
  }

  .content-wrapper blockquote {
    @apply !my-4 border-l-2 border-blue py-[5px] pl-4 font-semibold;
  }

  .content-wrapper a,
  .content-wrapper a span {
    @apply break-all text-blue;
  }

  .heading-wrapper h1 {
    @apply mb-2.5 text-white;
  }
  .heading-wrapper p {
    @apply mx-auto max-w-[800px] text-xsm text-white;
  }
  .heading-wrapper h6 {
    @apply text-xsm font-medium text-white;
  }

  /* Swiper */

  .swiper .swiper-pagination {
    @apply relative !bottom-0 mt-3;
  }

  .swiper.swiperTestimonial .swiper-wrapper,
  .swiper.swiperTeam .swiper-wrapper,
  .swiper.swiperImprovements .swiper-wrapper {
    @apply mt-10 !pb-11 lg:mt-14 2xl:mt-16;
  }
  .swiper.swiperIngredients .swiper-wrapper {
    @apply !pb-8 md:!pb-0;
  }

  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    @apply absolute hidden after:hidden md:block;
  }

  .swiper .swiper-button-prev {
    @apply h-10 w-10 bg-[url(/arrow-left.webp)];
  }

  .swiper .swiper-button-next {
    @apply h-10 w-10 bg-[url(/arrow-right.webp)];
  }

  .swiper .swiper-pagination .swiper-pagination-bullet {
    @apply !mx-[5px] h-[10px] w-[10px] rounded-[5px] bg-gray-darker opacity-100;
  }

  .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-black;
  }

  /* Datepickers */

  .single_date .rdrCalendarWrapper {
    @apply shadow-xmd;
  }

  .single_date .rdrCalendarWrapper,
  .single_date .rdrMonth {
    @apply w-[294px];
  }

  .range_date .rdrCalendarWrapper {
    @apply w-[450px];
  }

  .range_date .rdrMonths {
    @apply w-[450px] rounded-b-lg border border-t-0 border-purple-light shadow-2xmd;
  }

  .range_date .rdrMonth {
    @apply border border-b-0 border-t-0 border-purple-light first:border-l-0 last:border-r-0;
  }

  .range_date .rdrMonthAndYearWrapper {
    @apply w-[450px] rounded-t-lg border border-purple-light pt-0 shadow-2xmd;
  }

  .range_date .rdrDateDisplayWrapper {
    @apply mb-2 bg-white;
  }

  .range_date .rdrDateDisplayItemActive {
    @apply border border-solid border-transparent;
  }

  .range_date .rdrDateDisplay {
    @apply m-0 text-transparent;
  }

  .range_date input {
    @apply h-9 border border-solid border-transparent text-xsm;
  }

  .range_date-hidden .rdrMonthAndYearWrapper,
  .range_date-hidden .rdrMonths {
    @apply hidden;
  }

  .range_date-absolute .rdrMonthAndYearWrapper {
    @apply absolute bottom-0 z-[1] translate-y-full bg-white;
  }

  .range_date-absolute .rdrMonths {
    @apply absolute bottom-0 z-[1] translate-y-[calc(100%+60px)] bg-white;
  }

  .position-unset {
    position: unset;
  }
}

/* Swiper Concern Gallery  */

.bg-swiper-navigation {
  background-image: url('/angle.webp'),
    linear-gradient(179.62deg, #f4f4f4 0.32%, rgba(255, 255, 255, 0) 229.29%, rgba(244, 244, 244, 0) 229.29%);
}

.swiper.swiperConcernGalleryThumbs {
  @apply !relative w-full;
}

.swiper.swiperConcernGalleryThumbs .swiper-button-prev,
.swiper.swiperConcernGalleryThumbs .swiper-button-next {
  @apply absolute hidden after:hidden sm:block;
}

.swiper.swiperConcernGalleryThumbs .swiper-button-prev.swiper-button-disabled,
.swiper.swiperConcernGalleryThumbs .swiper-button-next.swiper-button-disabled {
  @apply hidden;
}

.swiper.swiperConcernGalleryThumbs .swiper-button-prev {
  @apply bg-swiper-navigation/* */ left-0 top-0 m-0 h-[calc(100%-40px)] w-16 rotate-180 bg-[url(/angle.webp)] bg-center bg-no-repeat;
}

.swiper.swiperConcernGalleryThumbs .swiper-button-next {
  @apply bg-swiper-navigation /* */ right-0 top-0 m-0 h-[calc(100%-40px)] w-16 bg-[url(/angle.webp)] bg-center bg-no-repeat;
}

@media only screen and (min-width: 1280px) {
  .swiper.swiperConcernGalleryThumbs .swiper-button-prev {
    @apply -top-6 left-6 h-28 w-16 -rotate-90;
  }
  .swiper.swiperConcernGalleryThumbs .swiper-button-next {
    @apply -bottom-6 left-6 top-auto h-28 w-16 rotate-90;
  }
}

/* Animation  */

.animation-base {
  transition: all 0.3s ease-in-out;
}

.animation-burger {
  transition: transform 0.3s ease-in-out;
}

.leaflet-container {
  height: 100%;
  z-index: 10;
}

/* Phone Field Rewrites */

.react-tel-input .form-control.phone-field {
  @apply h-[42px] w-full rounded-base border pl-[68px] font-inter-sans text-black outline-none;
}

.react-tel-input .flag-dropdown.country-field {
  @apply left-[1px] top-[7px] h-[28px] rounded-base border border-none bg-white pl-3 text-black;
}

.react-tel-input .country-list .country {
  @apply !h-10 !px-4;
}

.react-tel-input .country-list .country-name {
  @apply hidden;
}

.react-tel-input .country-list {
  @apply !w-28 !rounded-[6px];
  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.react-tel-input .country-list .dial-code {
  @apply text-xsm;
}

.react-tel-input .flag-dropdown .selected-flag {
  @apply rounded-l-md p-0;
}

.react-tel-input .selected-flag {
  @apply !w-12 border-r border-[#E7E7E9];
}

.react-tel-input .selected-flag .arrow {
  @apply !top-0 !mt-[-5px] !h-5 !w-5 !border-0 bg-[url('/angle-down.png')];
}

.react-tel-input .selected-flag .arrow.up {
  @apply bg-[url('/angle-up.png')];
}

.tab-btn {
  @apply absolute right-1 -translate-x-5 whitespace-nowrap border border-blue !px-2.5 !py-0.5 !text-xxs font-bold uppercase hover:border-blue-darker xlMax:left-1/2 xlMax:top-14 xlMax:w-fit xlMax:-translate-x-1/2 xlMax:transform;
}

.inline-text-row {
  @apply [&>span:nth-child(2)]:!inline [&>span:nth-child(2)]:!whitespace-pre-wrap;
}

/* Input Number Field */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Input Password Field */

input[type='password'] {
  @apply text-black;
}

.min-h-inherit {
  min-height: inherit;
}

.min-w-inherit {
  min-width: inherit;
}

.w-inherit {
  width: inherit;
}

.h-inherit {
  height: inherit;
}

table > tbody > tr td[name='SEMIBOLD'] > div {
  @apply font-semibold;
}
table > tbody > tr td[name='SEMIBOLD_BLUE'] > div {
  @apply font-semibold !text-blue;
}
table > tbody > tr td[name='RED'] > div {
  @apply !text-red;
}
table > tbody > tr td[name='GREY'] > div {
  @apply !text-gray;
}

.Toastify__toast {
  @apply !mb-0 !bg-transparent p-0 !shadow-none;
}

.Toastify__toast-container {
  @apply !ml-auto !w-full max-w-[40rem] !p-0;
}

.Toastify__toast-body {
  @apply !p-0;
}

.selected-flag {
  @apply !min-w-[68px] !pl-4.5;
}

.react-tel-input .selected-flag .arrow {
  @apply !left-5;
}

.react-tel-input .selected-flag {
  @apply !border-r-0 !border-gray-darker !bg-purple-light;
}

.react-tel-input .country-list {
  @apply !w-[262px];
}

/*legal pages*/

.legal-styles .content-wrapper {
  @apply relative -mt-[168px] mb-[100px] rounded-base bg-white p-5 shadow-xmd;
}

.legal-styles .container {
  @apply max-w-[1258px] px-6 3md:px-14;
}

.table-scroll {
  overflow-x: auto;
  max-width: 150px;
  min-width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.table-scroll-wrapper {
  min-width: 100%;
  width: fit-content;
}

.table-container {
  width: 100%;
  position: relative;
  border: 1px solid rgb(231 236 248);
  border-radius: 10px;
  overflow: overlay;
}

.table-cell {
  border: 1px solid rgb(231 236 248);
}

.table-cell:first-child {
  border-left: none;
}

.table-cell:nth-child(2) {
  border-left: none;
  border-right: none;
}

.table-cell:last-child {
  border-right: none;
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: #828c9c;
  border-radius: 10px;
}

.table-scroll::-webkit-scrollbar {
  max-width: 28px;
  height: 10px;
}

.table-table::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-container {
  top: 18px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

tr > td:first-child > div {
  width: 30px;
}

tr > th:first-child > p {
  width: 60px;
}

th:first-child,
th:nth-child(2) {
  background-color: #e7ecf8;
  z-index: 5;
}

tr > th:first-child,
tr > td:first-child {
  position: sticky;
  left: 0px;
  z-index: 5;
}

tr > th:nth-child(2),
tr > td:nth-child(2) {
  position: sticky;
  left: 62px;
  z-index: 5;
}

tr > td:nth-child(2) {
  border-right: none !important;
  border-left: none !important;
}

tr > td:nth-child(2)::before {
  content: '';
  position: absolute;
  left: -1px;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: rgb(231 236 248);
}

tr > td:nth-child(2)::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: rgb(231 236 248);
}

.disabled-table {
  background-color: #f8fafb;
}

.freezed-table {
  background-color: #f8fafb;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-box {
  top: 5%;
  right: -5%;
  width: 310px;
  @apply absolute z-50 rounded-base border border-gray-darker bg-white p-5;
}

.tooltip::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%) rotate(180deg);
  border-width: 5.5px 5.5px 0px;
  border-style: solid;
  border-color: #dadfea transparent;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%) rotate(180deg);
  border-width: 5px 5px 0px;
  border-style: solid;
  border-color: #fff transparent;
}

.typing-dot {
  opacity: 0;
  animation: dot-pulse 1s ease-in-out infinite alternate;
}

@keyframes dot-pulse {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.visible {
  opacity: 1;
  animation-play-state: running;
}

.search-skeleton {
  display: flex;
  height: 320px;
  top: 25px;
  margin: 0px auto;
  position: relative;
  max-width: 1158px;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
