.single_date .rdrCalendarWrapper {
  box-shadow: 0px 4px 20px #dee3ee;
}

.single_date .rdrCalendarWrapper,
.single_date .rdrMonth {
  width: 294px;
}

.range_date .rdrCalendarWrapper {
  width: 536px;
}

.range_date-hidden .rdrMonthAndYearWrapper,
.range_date-hidden .rdrMonths {
  display: none;
}
